<!DOCTYPE html>
<html ng-app="libraryApp">
<head>
	<title>Library app</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="./bower_components/angular/angular.js"></script>
	<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  	<script>
  		angular.module('libraryApp', [])
  		.controller('BooksController', BooksController)

  		function BooksController($scope, $http) {

  			$scope.search = function() {
  				$http.get('/books/isbn/' + $scope.isbn).then(function(data) {
  					console.log(data)
  					$scope.bookData=data.data
  					console.log($scope.bookData)
  				}, function(err){console.log(err)});
  			};
  		}

	</script>
</head>
<body>
	<div class="jumbotron">
		<div class="container" ng-controller="BooksController">
			<h1>Book lookup</h1>
			<form class="form-horizontal">
			  <div class="form-group">
			    <label for="isbn" class="col-sm-2 control-label">Search by ISBN</label>
			    <div class="col-sm-10">
			      <input ng-model="isbn" type="text" class="form-control" id="isbn" placeholder="ISBN">
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button ng-click="search()" type="submit" class="btn btn-default">Search</button>
			    </div>
			  </div>
			</form>
			<div ng-show="bookData">
				<p>{{'Title: ' + bookData.title}}</p>
				<p>{{'Author: ' + bookData.author}}</p>
				<p>{{'Genre: ' + bookData.genre}}</p>
				<p>{{'Status: ' + bookData.status}}</p>
			</div>
		</div>
	</div>
</body>
</html>